.meshoptemplate {
    opacity: 0;
}

.meshop-rendered {
    transition: visibility 0s ease 0.3s, opacity 1.3s ease;
    -webkit-transition: visibility 0s ease 0.3s, opacity 1.3s ease;
    opacity: 0;
    visibility: hidden;
}

.fade-in {
    visibility: visible !important;
    opacity: 1;
}

.hardfade {
    transition: visibility 0s ease 1s, opacity 1s ease;
    -webkit-transition: visibility 0s ease 1s, opacity 1s ease;
    opacity: 0;
    visibility: hidden;
}

.hardfade.in {
    transition: visibility 0s ease 0s, opacity 1s ease;
    -webkit-transition: visibility 0s ease 0s, opacity 1s ease;
    visibility: visible;
    opacity: 1;
}


@-webkit-keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


@keyframes rubberBand {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        -ms-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        -ms-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        -ms-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(.95, 1.05, 1);
        -ms-transform: scale3d(.95, 1.05, 1);
        transform: scale3d(.95, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(1.05, .95, 1);
        -ms-transform: scale3d(1.05, .95, 1);
        transform: scale3d(1.05, .95, 1);
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

}

/********************** Alireza: for buttons and inputs which are being loaded  */
.loading {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
    background-color: #CED0D1;
    -webkit-background-size: 40px 40px;
    background-size: 40px 40px;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
    pointer-events: none;
}

.box-shadow {
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

[class^=aspect-ratio] {
    position: relative;
    width: 100%;
}

[class^=aspect-ratio]:after {
    content: "";
    display: block;
}

.aspect-ratio-80:after {
    padding-top: 80%; /* 200 over 250  */
}

.aspect-ratio-70:after {
    padding-top: 70%;
}

.aspect-ratio-32:after {
    padding-top: 32%;
}

.aspect-ratio-300:after {
    padding-top: 300%;
}

[class^=aspect-ratio] .resize {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bubble-loader {
    display: inline-block;
    margin-top: 25px;
    position: absolute
}

.bubble-loader div {
    -webkit-animation: bubble 1100ms forwards infinite;
    animation: bubble 1100ms forwards infinite;
    background: #D6223B;
    border-radius: 50%;
    box-shadow: 0 0 8px #D6223B;
    display: inline-block;
    height: 10px;
    margin: 6px;
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
    width: 10px;
}

.bubble-loader div:nth-child(2),
.bubble-loader div:nth-child(4) {
    -webkit-animation-delay: 125ms;
    animation-delay: 125ms;
}

.bubble-loader div:nth-child(1),
.bubble-loader div:nth-child(5) {
    -webkit-animation-delay: 250ms;
    animation-delay: 250ms;
}

@-moz-keyframes bubble {
    0% {
        -webkit-transform: scale(0, 0);
    }
    12% {
        -webkit-transform: scale(1.5, 1.5);
    }
    23% {
        -webkit-transform: scale(0.5, 0.5);
    }
    34% {
        -webkit-transform: scale(1.2, 1.2);
    }
    45% {
        -webkit-transform: scale(1, 1);
    }
    85% {
        -webkit-transform: scale(0, 0);
    }
}

@-webkit-keyframes bubble {
    0% {
        -webkit-transform: scale(0, 0);
    }
    12% {
        -webkit-transform: scale(1.5, 1.5);
    }
    23% {
        -webkit-transform: scale(0.5, 0.5);
    }
    34% {
        -webkit-transform: scale(1.2, 1.2);
    }
    45% {
        -webkit-transform: scale(1, 1);
    }
    85% {
        -webkit-transform: scale(0, 0);
    }
}

@-o-keyframes bubble {
    0% {
        -webkit-transform: scale(0, 0);
    }
    12% {
        -webkit-transform: scale(1.5, 1.5);
    }
    23% {
        -webkit-transform: scale(0.5, 0.5);
    }
    34% {
        -webkit-transform: scale(1.2, 1.2);
    }
    45% {
        -webkit-transform: scale(1, 1);
    }
    85% {
        -webkit-transform: scale(0, 0);
    }
}

@keyframes bubble {
    0% {
        transform: scale(0, 0);
    }
    12% {
        transform: scale(1.5, 1.5);
    }
    23% {
        transform: scale(0.5, 0.5);
    }
    34% {
        transform: scale(1.2, 1.2);
    }
    45% {
        transform: scale(1, 1);
    }
    85% {
        transform: scale(0, 0);
    }
}

.typeaction .input-group {
    max-width: 1em;
}

.input-group input {
    transition: width 0.4s;
    -webkit-transition: width 0.4s;
}

.checkbox label {
    display: block;
}

.checkbox {
    padding-left: initial;
    margin-top: inherit;
}

.badge-blue {
    background-color: #5bc0de;
}

.badge-red {
    background-color: #d9534f;
}

.badge-green {
    background-color: #5cb85c;
}

table.pointer tbody tr {
    cursor: pointer;
}

.glowing-star {
    color: gold;
}

.panel .badge {
    margin-top: 15px;
}

.dropdown-menu.search {
    margin-top: 28px;
    width: 100%;
    overflow: hidden;
}

/* for filter forms and sorting */
[data-sort]:hover i {
    color: #f00;
}

[data-sort]:hover {
    background-color: #BBB !important;
    cursor: pointer;
}

/* 	for centering elements very handy */

.block {
    text-align: center;
}

/* The ghost, nudged to maintain perfect centering */
.block:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
   also be of any width and height */
.centered {
    display: inline-block;
    vertical-align: middle;
}

.up {
    margin-top: 10px;
}

.up-2 {
    margin-top: 20px;
}

.up-3 {
    margin-top: 30px;
}

.fa-right {
    margin-right: 10px;
}

@media ( max-width: 767px) {
    .up-xs {
        margin-top: 10px;
    }
}

@media ( min-width: 992px) {
    .up-switch {
        margin-top: 45px;
    }
}

.no-btn-rad {
    border-radius: 0;
}

/* to make btuun check boxes bug for moving when checked */
.fa-check-square-o.fa-fw, .fa-square-o.fa-fw {
    text-align: left;
}


/* =====================================================================================================================
// RangeSlider */

.irs {
    position: relative;
    display: block;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.irs-line {
    position: relative;
    display: block;
    overflow: hidden;
}

.irs-line-left, .irs-line-mid, .irs-line-right {
    position: absolute;
    display: block;
    top: 0;
}

.irs-line-left {
    left: 0;
    width: 11%;
}

.irs-line-mid {
    left: 9%;
    width: 82%;
}

.irs-line-right {
    right: 0;
    width: 11%;
}

.irs-bar {
    position: absolute;
    display: block;
    left: 0;
    width: 0;
}

.irs-bar-edge {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
}

.irs-shadow {
    position: absolute;
    display: none;
    left: 0;
    width: 0;
}

.irs-slider {
    position: absolute;
    display: block;
    cursor: default;
    z-index: 1;
}

.irs-slider.single {
    left: 10px;
}

.irs-slider.from {
    left: 100px;
}

.irs-slider.to {
    left: 300px;
}

.irs-slider.type_last {
    z-index: 2;
}

.irs-min {
    position: absolute;
    display: block;
    left: 0;
    cursor: default;
}

.irs-max {
    position: absolute;
    display: block;
    right: 0;
    cursor: default;
}

.irs-from, .irs-to, .irs-single {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    cursor: default;
    white-space: nowrap;
}

.irs-grid {
    position: absolute;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
}

.irs-with-grid .irs-grid {
    display: block;
}

.irs-grid-pol {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 8px;
    background: #000;
}

.irs-grid-pol.small {
    height: 4px;
}

.irs-grid-text {
    position: absolute;
    bottom: 0;
    left: 0;
    white-space: nowrap;
    text-align: center;
    font-size: 9px;
    line-height: 9px;
    padding: 0 3px;
    color: #000;
}

.irs-disable-mask {
    position: absolute;
    display: block;
    top: 0;
    left: -1%;
    width: 102%;
    height: 100%;
    cursor: default;
    background: rgba(0, 0, 0, 0.0);
    z-index: 2;
}

.irs-disabled {
    opacity: 0.4;
}

.lt-ie9 .irs-disabled {
    filter: alpha(opacity=40);
}


.irs-hidden-input {
    position: absolute !important;
    display: block !important;
    top: 0 !important;
    left: 0 !important;
    width: 0 !important;
    height: 0 !important;
    font-size: 0 !important;
    line-height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    outline: none !important;
    z-index: -9999 !important;
    background: none !important;
    border-style: solid !important;
    border-color: transparent !important;
}

/* Ion.RangeSlider, Simple Skin
// css version 2.0.0
// © Denis Ineshin, 2014    https://github.com/IonDen
// © guybowden, 2014        https://github.com/guybowden
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs {
    height: 55px;
}

.irs-with-grid {
    height: 75px;
}

.irs-line {
    height: 10px;
    top: 33px;
    background: #EEE;
    background: linear-gradient(to bottom, #DDD -50%, #FFF 150%); /* W3C */
    border: 1px solid #CCC;
    border-radius: 16px;
    -moz-border-radius: 16px;
}

.irs-line-left {
    height: 8px;
}

.irs-line-mid {
    height: 8px;
}

.irs-line-right {
    height: 8px;
}

.irs-bar {
    height: 10px;
    top: 33px;
    border-top: 1px solid #B6031C;
    border-bottom: 1px solid #B6031C;
    background: #d6223b;
    background: linear-gradient(to top, rgba(214, 34, 59, 1) 0%, rgba(250, 114, 133, 1) 100%);
}

.irs-bar-edge {
    height: 10px;
    top: 33px;
    width: 14px;
    border: 1px solid #428bca;
    border-right: 0;
    background: #428bca;
    background: linear-gradient(to top, rgba(66, 139, 202, 1) 0%, rgba(127, 195, 232, 1) 100%); /* W3C */
    border-radius: 16px 0 0 16px;
    -moz-border-radius: 16px 0 0 16px;
}

.irs-shadow {
    height: 2px;
    top: 38px;
    background: #000;
    opacity: 0.3;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.lt-ie9 .irs-shadow {
    filter: alpha(opacity=30);
}

.irs-slider {
    top: 25px;
    width: 27px;
    height: 27px;
    border: 1px solid #AAA;
    background: #DDD;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(220, 220, 220, 1) 20%, rgba(255, 255, 255, 1) 100%); /* W3C */
    border-radius: 27px;
    -moz-border-radius: 27px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

#irs-active-slider, .irs-slider:hover {
    background: #FFF;
}

.irs-min, .irs-max {
    color: #333;
    font-size: 12px;
    line-height: 1.333;
    text-shadow: none;
    top: 0;
    padding: 1px 5px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    -moz-border-radius: 3px;
}

.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #ccc;
}

.irs-from, .irs-to, .irs-single {
    color: #fff;
    font-size: 14px;
    line-height: 1.333;
    text-shadow: none;
    padding: 1px 8px;
    background: #777;
    border-radius: 10px;
    -moz-border-radius: 3px;
}

.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: #999;
}

.irs-grid {
    height: 27px;
}

.irs-grid-pol {
    opacity: 0.5;
    background: #428bca;
}

.irs-grid-pol.small {
    background: #999;
}

.irs-grid-text {
    bottom: 5px;
    color: #99a4ac;
}

.irs-disabled {
}


/* ///switch css */
.meshop-switch a, .switch-on span span {
    display: none
}

@media only screen {
    .switch-on {
        display: block;
        height: 26px;
        position: relative;
        overflow: visible;
        padding: 0
    }

    /* 	not needed in bootstrap **********************/
    /* 	.switch-on * { */
    /* 		-webkit-box-sizing: border-box; */
    /* 		-moz-box-sizing: border-box; */
    /* 		box-sizing: border-box */
    /* 	} */
    /* 	.meshop-switch * { */
    /* 		-webkit-box-sizing: border-box; */
    /* 		-moz-box-sizing: border-box; */
    /* 		box-sizing: border-box */
    /* 	} **************************/
    .switch-on a {
        display: block;
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out
    }

    .switch-on label, .switch-on > span {
        line-height: 26px;
        vertical-align: middle
    }

    .switch-on label {
        position: relative;
        z-index: 5;
        display: block;
        width: 100%
    }

    .switch-on input {
        position: absolute;
        opacity: 0;
        z-index: 2
    }

    .switch-on input:checked ~ a {
        left: 0
    }

    .switch-on > span {
        position: absolute;
        width: 100%;
        margin: 0;
        font-weight: normal;
        text-align: left;
        left: 0
    }

    .switch-on > span span {
        position: absolute;
        top: 0;
        z-index: 5;
        display: block;
        width: 50%;
        text-align: center;
        left: 0
    }

    .switch-on > span span:last-child {
        left: 50%
    }

    .switch-on a {
        position: absolute;
        top: 0;
        z-index: 4;
        display: block;
        width: 50%;
        height: 100%;
        padding: 0;
        left: 50%
    }

    .meshop-switch {
        display: block;
        height: 26px;
        position: relative
    }

    .meshop-switch a {
        display: block;
        -webkit-transition: all 0.3s ease-out;
        -o-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out
    }

    .meshop-switch label, .meshop-switch > span {
        line-height: 26px;
        vertical-align: middle
    }

    .meshop-switch input {
        position: absolute;
        opacity: 0
    }

    .meshop-switch label {
        position: relative;
        z-index: 5;
        width: 50%;
        height: 100%;
        margin: 0;
        text-align: center;
        float: left
    }

    .meshop-switch a {
        position: absolute;
        top: 0;
        padding: 0;
        z-index: 1;
        width: 50%;
        height: 100%;
        left: 0;
    }

    .meshop-switch a:not([class*=btn-]) {
        background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
        background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        background-repeat: repeat-x;
        border-color: #3e8f3e;
        background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
    }

    .meshop-switch input:last-of-type:checked ~ a {
        left: 50%;
    }

    .meshop-switch input:last-of-type:checked ~ a:not([class*=btn-]) {
        left: 50%;
        background-image: -webkit-linear-gradient(top, #d9534f 0%, #c12e2a 100%);
        background-image: linear-gradient(to bottom, #d9534f 0%, #c12e2a 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc12e2a', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        background-repeat: repeat-x;
        border-color: #b92c28;
    }

    .meshop-switch input:disabled ~ a {
        border: solid 1px #b3b3b3 !important;
        background-color: #ccc !important;
        -webkit-box-shadow: #b3b3b3 0 -1px 0 inset !important;
        box-shadow: #b3b3b3 0 -1px 0 inset !important
    }

    .meshop-switch.switch-3 label, .meshop-switch.switch-3 a {
        width: 33.33333%
    }

    .meshop-switch.switch-3 input:checked:nth-of-type(2) ~ a {
        left: 33.33333%
    }

    .meshop-switch.switch-3 input:checked:last-of-type ~ a {
        left: 66.66667%
    }

    .meshop-switch.switch-4 label, .meshop-switch.switch-4 a {
        width: 25%
    }

    .meshop-switch.switch-4 input:checked:nth-of-type(2) ~ a {
        left: 25%
    }

    .meshop-switch.switch-4 input:checked:nth-of-type(3) ~ a {
        left: 50%
    }

    .meshop-switch.switch-4 input:checked:last-of-type ~ a {
        left: 75%
    }

    .meshop-switch.switch-5 label, .meshop-switch.switch-5 a {
        width: 20%
    }

    .meshop-switch.switch-5 input:checked:nth-of-type(2) ~ a {
        left: 20%
    }

    .meshop-switch.switch-5 input:checked:nth-of-type(3) ~ a {
        left: 40%
    }

    .meshop-switch.switch-5 input:checked:nth-of-type(4) ~ a {
        left: 60%
    }

    .meshop-switch.switch-5 input:checked:last-of-type ~ a {
        left: 80%
    }

    .meshop-switch {
        background-color: #eee;
        border-radius: 3px;
        color: #333;
        text-align: center;
        -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px 1px inset;
        box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px 1px inset
    }

    .meshop-switch * {
        outline: 0 !important
    }

    .meshop-switch label {
        color: #999;
        font-weight: 400;
        cursor: pointer;
        -webkit-transition: color 0.2s ease-out;
        -o-transition: color 0.2s ease-out;
        transition: color 0.2s ease-out
    }

    .meshop-switch input:checked + label {
        color: #fff
    }

    .switch-on input:checked + label {
        color: #000
    }

    .meshop-switch > span {
        color: #666;
        text-transform: uppercase;
        cursor: pointer
    }

    .meshop-switch.switch-on input:checked ~ a:not([class*=btn-]) {
        text-shadow: 0 1px 0 #fff;
        background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
        background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',
        endColorstr='#ffe0e0e0', GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        background-repeat: repeat-x;
        border-color: #dbdbdb;
        border-color: #ccc;
    }

    .meshop-switch.switch-on input:checked ~ span span:first-of-type {
        color: #fff
    }

    .meshop-switch.switch-on input:checked ~ span span:last-of-type {
        color: #ccc
    }

    .meshop-switch.switch-on input ~ span span:first-of-type {
        color: #ccc
    }

    .meshop-switch.switch-on input ~ span span:last-of-type {
        color: #fff
    }

}

/* ///end switch css */


/* select2 */

/*
Version: 3.5.2 Timestamp: Sat Nov  1 14:43:36 EDT 2014
*/
.select2-container {
    margin: 0;
    position: relative;
    display: inline-block;
    /* inline-block for ie7 */
    zoom: 1;
    *display: inline;
    vertical-align: middle;
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
    /*
      Force border-box so that % widths fit the parent
      container without overlap because of margin/padding.
      More Info : http://www.quirksmode.org/css/box.html
    */
    -webkit-box-sizing: border-box; /* webkit */
    -moz-box-sizing: border-box; /* firefox */
    box-sizing: border-box; /* css3 */
}

.select2-container .select2-choice {
    display: block;
    height: 26px;
    padding: 0 0 0 8px;
    overflow: hidden;
    position: relative;

    border: 1px solid #aaa;
    white-space: nowrap;
    line-height: 26px;
    text-decoration: none;

    border-radius: 4px;

    background-clip: padding-box;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

html[dir="rtl"] .select2-container .select2-choice {
    padding: 0 8px 0 0;
}

.select2-container.select2-drop-above .select2-choice {
    border-bottom-color: #aaa;

    border-radius: 0 0 4px 4px;

    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eee), color-stop(0.9, #fff));
    background-image: -webkit-linear-gradient(center bottom, #eee 0%, #fff 90%);
    background-image: -moz-linear-gradient(center bottom, #eee 0%, #fff 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0);
    background-image: linear-gradient(to bottom, #eee 0%, #fff 90%);
}

.select2-container.select2-allowclear .select2-choice .select2-chosen {
    margin-right: 42px;
}

.select2-container .select2-choice > .select2-chosen {
    margin-right: 26px;
    display: block;
    overflow: hidden;

    white-space: nowrap;

    text-overflow: ellipsis;
    float: none;
    width: auto;
}

html[dir="rtl"] .select2-container .select2-choice > .select2-chosen {
    margin-left: 26px;
    margin-right: 0;
}

.select2-container .select2-choice abbr {
    display: none;
    width: 12px;
    height: 12px;
    position: absolute;
    right: 24px;
    top: 8px;

    font-size: 1px;
    text-decoration: none;

    border: 0;
    background: url('select2.png') right top no-repeat;
    cursor: pointer;
    outline: 0;
}

.select2-container.select2-allowclear .select2-choice abbr {
    display: inline-block;
}

.select2-container .select2-choice abbr:hover {
    background-position: right -11px;
    cursor: pointer;
}

.select2-drop-mask {
    border: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
    opacity: 0;
    z-index: 2000;
    /* styles required for IE to work */
    background-color: #fff;
    filter: alpha(opacity=0);
}

body.modal-open .select2-drop-mask {
    z-index: 1998;
}

.select2-drop {
    width: 100%;
    margin-top: -1px;
    position: absolute;
    z-index: 2000;
    top: 100%;

    background: #fff;
    color: #000;
    border: 1px solid #aaa;
    border-top: 0;

    border-radius: 0 0 4px 4px;

    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 4px 5px rgba(0, 0, 0, .15);
}

.select2-drop.select2-drop-above {
    margin-top: 1px;
    border-top: 1px solid #aaa;
    border-bottom: 0;

    border-radius: 4px 4px 0 0;

    -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
    box-shadow: 0 -4px 5px rgba(0, 0, 0, .15);
}

.select2-drop-active {
    border: 1px solid #5897fb;
    border-top: none;
}

.select2-drop.select2-drop-above.select2-drop-active {
    border-top: 1px solid #5897fb;
}

.select2-drop-auto-width {
    border-top: 1px solid #aaa;
    width: auto;
}

.select2-drop-auto-width .select2-search {
    padding-top: 4px;
}

.select2-container .select2-choice .select2-arrow {
    display: inline-block;
    width: 18px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    color: #000;
    /*     border-left: 1px solid #aaa; */
    border-radius: 0 4px 4px 0;

    background-clip: padding-box;

    /*     background: #ccc; */
    /*     background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ccc), color-stop(0.6, #eee)); */
    /*     background-image: -webkit-linear-gradient(center bottom, #ccc 0%, #eee 60%); */
    /*     background-image: -moz-linear-gradient(center bottom, #ccc 0%, #eee 60%); */
    /*     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#cccccc', GradientType = 0); */
    /*     background-image: linear-gradient(to top, #ccc 0%, #eee 60%); */
}

html[dir="rtl"] .select2-container .select2-choice .select2-arrow {
    left: 0;
    right: auto;

    border-left: none;
    border-right: 1px solid #aaa;
    border-radius: 4px 0 0 4px;
}

.select2-container .select2-choice .select2-arrow b {
    display: block;
    width: 100%;
    height: 100%;
    background: url('select2.png') no-repeat 0 1px;
}

html[dir="rtl"] .select2-container .select2-choice .select2-arrow b {
    background-position: 2px 1px;
}

.select2-search {
    display: inline-block;
    width: 100%;
    min-height: 26px;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;

    position: relative;
    z-index: 10000;

    white-space: nowrap;
}

.select2-search input {
    width: 100%;
    height: auto !important;
    min-height: 26px;
    padding: 4px 20px 4px 5px;
    margin: 0;

    outline: 0;
    font-family: sans-serif;
    font-size: 1em;

    border: 1px solid #aaa;
    border-radius: 0;

    -webkit-box-shadow: none;
    box-shadow: none;

    background: #fff url('select2.png') no-repeat 100% -22px;
    background: url('select2.png') no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
    background: url('select2.png') no-repeat 100% -22px, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('select2.png') no-repeat 100% -22px, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('select2.png') no-repeat 100% -22px, linear-gradient(to bottom, #fff 85%, #eee 99%) 0 0;
}

html[dir="rtl"] .select2-search input {
    padding: 4px 5px 4px 20px;

    background: #fff url('select2.png') no-repeat -37px -22px;
    background: url('select2.png') no-repeat -37px -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
    background: url('select2.png') no-repeat -37px -22px, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('select2.png') no-repeat -37px -22px, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('select2.png') no-repeat -37px -22px, linear-gradient(to bottom, #fff 85%, #eee 99%) 0 0;
}

.select2-drop.select2-drop-above .select2-search input {
    margin-top: 4px;
}

.select2-search input.select2-active {
    background: #fff url('select2-spinner.gif') no-repeat 100%;
    background: url('select2-spinner.gif') no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, #fff), color-stop(0.99, #eee));
    background: url('select2-spinner.gif') no-repeat 100%, -webkit-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('select2-spinner.gif') no-repeat 100%, -moz-linear-gradient(center bottom, #fff 85%, #eee 99%);
    background: url('select2-spinner.gif') no-repeat 100%, linear-gradient(to bottom, #fff 85%, #eee 99%) 0 0;
}

.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border: 1px solid #5897fb;
    outline: none;

    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.select2-dropdown-open .select2-choice {
    border-bottom-color: transparent;
    -webkit-box-shadow: 0 1px 0 #fff inset;
    box-shadow: 0 1px 0 #fff inset;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    background-color: #eee;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #fff), color-stop(0.5, #eee));
    background-image: -webkit-linear-gradient(center bottom, #fff 0%, #eee 50%);
    background-image: -moz-linear-gradient(center bottom, #fff 0%, #eee 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
    background-image: linear-gradient(to top, #fff 0%, #eee 50%);
}

.select2-dropdown-open.select2-drop-above .select2-choice,
.select2-dropdown-open.select2-drop-above .select2-choices {
    border: 1px solid #5897fb;
    border-top-color: transparent;

    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(0.5, #eee));
    background-image: -webkit-linear-gradient(center top, #fff 0%, #eee 50%);
    background-image: -moz-linear-gradient(center top, #fff 0%, #eee 50%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0);
    background-image: linear-gradient(to bottom, #fff 0%, #eee 50%);
}

.select2-dropdown-open .select2-choice .select2-arrow {
    background: transparent;
    border-left: none;
    filter: none;
}

html[dir="rtl"] .select2-dropdown-open .select2-choice .select2-arrow {
    border-right: none;
}

.select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -18px 1px;
}

html[dir="rtl"] .select2-dropdown-open .select2-choice .select2-arrow b {
    background-position: -16px 1px;
}

.select2-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* results */
.select2-results {
    max-height: 200px;
    padding: 0 0 0 4px;
    margin: 4px 4px 4px 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html[dir="rtl"] .select2-results {
    padding: 0 4px 0 0;
    margin: 4px 0 4px 4px;
}

.select2-results ul.select2-result-sub {
    margin: 0;
    padding-left: 0;
}

.select2-results li {
    list-style: none;
    display: list-item;
    background-image: none;
}

.select2-results li.select2-result-with-children > .select2-result-label {
    font-weight: bold;
}

.select2-results .select2-result-label {
    padding: 3px 7px 4px;
    margin: 0;
    cursor: pointer;

    min-height: 1em;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.select2-results-dept-1 .select2-result-label {
    padding-left: 20px
}

.select2-results-dept-2 .select2-result-label {
    padding-left: 40px
}

.select2-results-dept-3 .select2-result-label {
    padding-left: 60px
}

.select2-results-dept-4 .select2-result-label {
    padding-left: 80px
}

.select2-results-dept-5 .select2-result-label {
    padding-left: 100px
}

.select2-results-dept-6 .select2-result-label {
    padding-left: 110px
}

.select2-results-dept-7 .select2-result-label {
    padding-left: 120px
}

.select2-results .select2-highlighted {
    background: #3875d7;
    color: #fff;
}

.select2-results li em {
    background: #feffde;
    font-style: normal;
}

.select2-results .select2-highlighted em {
    background: transparent;
}

.select2-results .select2-highlighted ul {
    background: #fff;
    color: #000;
}

.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-ajax-error,
.select2-results .select2-selection-limit {
    background: #f4f4f4;
    display: list-item;
    padding-left: 5px;
}

/*
disabled look for disabled choices in the results dropdown
*/
.select2-results .select2-disabled.select2-highlighted {
    color: #666;
    background: #f4f4f4;
    display: list-item;
    cursor: default;
}

.select2-results .select2-disabled {
    background: #f4f4f4;
    display: list-item;
    cursor: default;
}

.select2-results .select2-selected {
    display: none;
}

.select2-more-results.select2-active {
    background: #f4f4f4 url('select2-spinner.gif') no-repeat 100%;
}

.select2-results .select2-ajax-error {
    background: rgba(255, 50, 50, .2);
}

.select2-more-results {
    background: #f4f4f4;
    display: list-item;
}

/* disabled styles */

.select2-container.select2-container-disabled .select2-choice {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select2-container.select2-container-disabled .select2-choice .select2-arrow {
    background-color: #f4f4f4;
    background-image: none;
    border-left: 0;
}

.select2-container.select2-container-disabled .select2-choice abbr {
    display: none;
}


/* multiselect */

.select2-container-multi .select2-choices {
    height: auto !important;
    height: 1%;
    margin: 0;
    padding: 0 5px 0 0;
    position: relative;

    border: 1px solid #aaa;
    cursor: text;
    overflow: hidden;

    background-color: #fff;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eee), color-stop(15%, #fff));
    background-image: -webkit-linear-gradient(top, #eee 1%, #fff 15%);
    background-image: -moz-linear-gradient(top, #eee 1%, #fff 15%);
    background-image: linear-gradient(to bottom, #eee 1%, #fff 15%);
}

html[dir="rtl"] .select2-container-multi .select2-choices {
    padding: 0 0 0 5px;
}

.select2-locked {
    padding: 3px 5px 3px 5px !important;
}

.select2-container-multi .select2-choices {
    min-height: 26px;
}

.select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #5897fb;
    outline: none;

    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .3);
    box-shadow: 0 0 5px rgba(0, 0, 0, .3);
}

.select2-container-multi .select2-choices li {
    float: left;
    list-style: none;
}

html[dir="rtl"] .select2-container-multi .select2-choices li {
    float: right;
}

.select2-container-multi .select2-choices .select2-search-field {
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.select2-container-multi .select2-choices .select2-search-field input {
    padding: 5px;
    margin: 1px 0;

    font-family: sans-serif;
    font-size: 100%;
    color: #666;
    outline: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: transparent !important;
}

/* .select2-container-multi .select2-choices .select2-search-field input.select2-active {
    background: #fff url('select2-spinner.gif') no-repeat 100% !important;
}
 */

.select2-default {
    color: #999 !important;
}

.select2-container-multi .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 18px;
    margin: 3px 0 3px 5px;
    position: relative;

    line-height: 13px;
    color: #333;
    cursor: default;
    border: 1px solid #aaaaaa;

    border-radius: 3px;

    -webkit-box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 2px #fff inset, 0 1px 0 rgba(0, 0, 0, 0.05);

    background-clip: padding-box;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    background-color: #e4e4e4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#f4f4f4', GradientType=0);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eee));
    background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
    background-image: linear-gradient(to bottom, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eee 100%);
}

html[dir="rtl"] .select2-container-multi .select2-choices .select2-search-choice {
    margin: 3px 5px 3px 0;
    padding: 3px 18px 3px 5px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-chosen {
    cursor: default;
}

.select2-container-multi .select2-choices .select2-search-choice-focus {
    background: #d4d4d4;
}

.select2-search-choice-close {
    display: block;
    width: 12px;
    height: 13px;
    position: absolute;
    right: 3px;
    top: 2px;
    font-size: 1px;
    outline: none;
    background: url('select2.png') right top no-repeat;
}

html[dir="rtl"] .select2-search-choice-close {
    right: auto;
    left: 3px;
}

.select2-container-multi .select2-search-choice-close {
    left: 3px;
}

html[dir="rtl"] .select2-container-multi .select2-search-choice-close {
    left: auto;
    right: 2px;
}

.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover {
    background-position: right -11px;
}

.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
    background-position: right -11px;
}

/* disabled styles */
.select2-container-multi.select2-container-disabled .select2-choices {
    background-color: #f4f4f4;
    background-image: none;
    border: 1px solid #ddd;
    cursor: default;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
    padding: 3px 5px 3px 5px;
    border: 1px solid #ddd;
    background-image: none;
    background-color: #f4f4f4;
}

.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
    display: none;
    background: none;
}

/* end multiselect */


.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-match {
    text-decoration: underline;
}

.select2-offscreen, .select2-offscreen:focus {
    clip: rect(0 0 0 0) !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
    position: absolute !important;
    outline: 0 !important;
    left: 0px !important;
    top: 0px !important;
}

.select2-display-none {
    display: none;
}

.select2-measure-scrollbar {
    position: absolute;
    top: -10000px;
    left: -10000px;
    width: 100px;
    height: 100px;
    overflow: scroll;
}

/* Retina-ize icons */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
    .select2-search input,
    .select2-search-choice-close,
    .select2-container .select2-choice abbr,
    .select2-container .select2-choice .select2-arrow b {
        background-image: url('select2x2.png') !important;
        background-repeat: no-repeat !important;
        background-size: 60px 40px !important;
    }

    .select2-search input {
        background-position: 100% -21px !important;
    }
}

/* select2 bootstrap */
.form-control .select2-choice {
    border: 0;
    border-radius: 2px;
}

.form-control .select2-choice .select2-arrow {
    border-radius: 0 2px 2px 0;
}

.form-control.select2-container {
    height: auto !important;
    padding: 0;
}

.form-control.select2-container.select2-dropdown-open {
    border-color: #5897FB;
    border-radius: 3px 3px 0 0;
}

.form-control .select2-container.select2-dropdown-open .select2-choices {
    border-radius: 3px 3px 0 0;
}

.form-control.select2-container .select2-choices {
    border: 0 !important;
    border-radius: 3px;
}

.control-group.warning .select2-container .select2-choice,
.control-group.warning .select2-container .select2-choices,
.control-group.warning .select2-container-active .select2-choice,
.control-group.warning .select2-container-active .select2-choices,
.control-group.warning .select2-dropdown-open.select2-drop-above .select2-choice,
.control-group.warning .select2-dropdown-open.select2-drop-above .select2-choices,
.control-group.warning .select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #C09853 !important;
}

.control-group.warning .select2-container .select2-choice div {
    border-left: 1px solid #C09853 !important;
    background: #FCF8E3 !important;
}

.control-group.error .select2-container .select2-choice,
.control-group.error .select2-container .select2-choices,
.control-group.error .select2-container-active .select2-choice,
.control-group.error .select2-container-active .select2-choices,
.control-group.error .select2-dropdown-open.select2-drop-above .select2-choice,
.control-group.error .select2-dropdown-open.select2-drop-above .select2-choices,
.control-group.error .select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #B94A48 !important;
}

.control-group.error .select2-container .select2-choice div {
    border-left: 1px solid #B94A48 !important;
    background: #F2DEDE !important;
}

.control-group.info .select2-container .select2-choice,
.control-group.info .select2-container .select2-choices,
.control-group.info .select2-container-active .select2-choice,
.control-group.info .select2-container-active .select2-choices,
.control-group.info .select2-dropdown-open.select2-drop-above .select2-choice,
.control-group.info .select2-dropdown-open.select2-drop-above .select2-choices,
.control-group.info .select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #3A87AD !important;
}

.control-group.info .select2-container .select2-choice div {
    border-left: 1px solid #3A87AD !important;
    background: #D9EDF7 !important;
}

.control-group.success .select2-container .select2-choice,
.control-group.success .select2-container .select2-choices,
.control-group.success .select2-container-active .select2-choice,
.control-group.success .select2-container-active .select2-choices,
.control-group.success .select2-dropdown-open.select2-drop-above .select2-choice,
.control-group.success .select2-dropdown-open.select2-drop-above .select2-choices,
.control-group.success .select2-container-multi.select2-container-active .select2-choices {
    border: 1px solid #468847 !important;
}

.control-group.success .select2-container .select2-choice div {
    border-left: 1px solid #468847 !important;
    background: #DFF0D8 !important;
}

.select2-more-results.select2-active:after, .select2-container-multi .select2-choices .select2-search-field input.select2-active:after {
    content: "";
    display: inline-block;
    position: relative;
    float: right;
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color: #d6223b;
    border-left-color: #d6223b;
    border-radius: 10px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
}

/* select2 end****************************************************/


/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT

Copyright (c) 2014 Daniel Eden
*/

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}


@-webkit-keyframes fadeOutUp {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes fadeOutUp {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

.fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
}

.fa-star1:before {
    content: "\f005";
}

.fa-star2:before {
    content: "\f005  \f005";
}

.fa-star3:before {
    content: "\f005  \f005  \f005";
}

.fa-star4:before {
    content: "\f005  \f005  \f005  \f005";
}

.fa-star5:before {
    content: "\f005  \f005  \f005  \f005  \f005";
}

/*growl css end****************************************************/


[meshop-alert] {
    cursor: pointer
}


/* meshop reponsive table****************************************************/

@media only screen and (max-width: 768px) {

    /* Force table to not be like tables anymore */
    .meshop-table table,
    .meshop-table thead,
    .meshop-table tbody,
    .meshop-table th,
    .meshop-table td[data-title],
    .meshop-table tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    .meshop-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .meshop-table .table > tbody > tr {
        border: 1px solid #ccc;
    }

    .meshop-table .table > tbody > tr > td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        white-space: normal;
        text-align: left;
    }

    .meshop-table .table > tbody > tr > td[data-title] {
        padding-left: 50%;
    }

    .meshop-table td[data-title]:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    .meshop-table td[data-title]:before {
        content: attr(data-title);
    }
}

/*meshop responsive table end****************************************************/

.anim-width {
    transition: width .5s;
    -webkit-transition: width .5s;
}


.no-gutter {
    margin-right: 0;
    margin-left: 0;
}

.half-gutter {
    margin-right: -5px;
    margin-left: -5px;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}

.half-gutter > [class*='col-'] {
    padding-right: 5px;
    padding-left: 5px;
}

.table-middle tbody td {
    vertical-align: middle !important;
}
